h2 {color: #f3570; letter-spacing: -2px;}
h5 {
  text-align: center;
}
h2:hover {
  font-size: 50px;
  text-shadow: 2px 2px 5px yellow;
}

body {
  background-color: beige;
}

img {
  width: 300px;
  
}

img:hover {
  border: blue 3px;
  border-radius: 35%;
}


nav {
  list-style-type: none;
  position: fixed;
  background-color: #f30600;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 12px;
}

li {
  display: inline;
  padding: 13px;
}

a {
  text-decoration: none;
  color: white;
}

li:hover {
  background-color: orange;
}
body {
  background-color: lightblue;
}
h2 {color: navy;
  text-align: center; }
  
img {
    width: 100vh;
border: black 4px}

img: hover {
 width 150px;
  border: blue 1px;
}
