h2 {color: #f3570; text-align: center; letter-spacing: -2px;}
h3 {color: #f3570; text-align: center; letter-spacing: -2px;}
h1 {color: #f3570; text-align: center; letter-spacing: -2px;}

h2:hover {
  font-size: 100px;
  text-shadow: 2px 2px 5px red;
h3:hover {
  font-size: 100px;
  text-shadow: 2px 2px 5px yellow;
h1:hover {
  font-size: 100px;
  text-shadow: 2px 2px 5px blue;
}

body {
  background-color: orange;
}

img {
  width: 100px;
  
}

img:hover {
  border: green 15px;
  border-radius: 50%;
}


nav {
  list-style-type: none;
  position: fixed;
  background-color: #9c23b7;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 12px;
}

li {
  display: down;
  padding: 13px;
}

a {
  text-decoration: none;
  color: white;
}

li:hover {
  background-color: white;
}
body {
  background-color: purple;
}
h2 {color: navy;}  
h3 {color: navy;}  
h1 {color: navy;}  
  
img {
    width: 100vh;
border: black 4px}

img: hover {
 width 150px;
  border: blue 1px;
}
